# dependencies
node_modules/

# build outputs
out/
dist/

# Tauri
src-tauri/target/

# env
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
.agents/
skills-lock.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
.DS_Store
